<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-meiqia" version="0.0.1">
  <name>Cordova MeiQia Plugin</name>
  <description>Plugin to use MeiQia with cordova apps.</description>
  <license>Apache 2.0</license>
  <keywords>cordova,meiqia,phonegap</keywords>
  <js-module src="www/MeiQia.js" name="MeiQia">
    <clobbers target="MeiQia"/>
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="MeiQia">
        <param name="ios-package" value="MeiQiaCordovaPlugin" onload="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/MeiQiaCordovaPlugin.h" />
    <source-file src="src/ios/MeiQiaCordovaPlugin.m" />

    <!-- ideally these will be inject automatically from plugin.xml -->
    <!-- <resource-file src="src/ios/MQChatViewController" />
    <resource-file src="src/ios/MeiqiaSDKViewInterface"/>
    <resource-file src="src/ios/MQMessageForm"/> -->

    <framework src="src/ios/MeiQiaSDK.framework" custom="true"/>
    <framework src="libicucore.dylib" />
  </platform>
  <platform name="android">
      <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.INTERNET" />
          <uses-permission android:name="android.permission.READ_PHONE_STATE" />
          <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
          <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
          <uses-permission android:name="android.permission.RECORD_AUDIO" />
      </config-file>
      <source-file src="src/android/MeiQia.java" target-dir="src/com/vipmerit/meiqia" />
      <framework src="src/android/MeiQia/build.gradle" custom="true" type="gradleReference" />
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="MeiQia">
          <param name="android-package" value="com.vipmerit.meiqia.MeiQia"/>
          <param name="onload" value="true" />
        </feature>
      </config-file>
  </platform>
</plugin>
