<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-meiqia" version="0.0.1">
  <name>Cordova MeiQia Plugin</name>
  <description>Plugin to use MeiQia with cordova apps.</description>
  <license>Apache 2.0</license>
  <keywords>cordova,meiqia,phonegap</keywords>
  <js-module src="www/MeiQia.js" name="MeiQia">
    <clobbers target="MeiQia"/>
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="MeiQia">
        <param name="ios-package" value="MeiQiaCordovaPlugin" onload="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/MeiQiaCordovaPlugin.h" />
    <source-file src="src/ios/MeiQiaCordovaPlugin.m" />

    <!-- <resource-file src="src/ios/MQChatViewController" />
    <resource-file src="src/ios/MeiqiaSDKViewInterface"/>
    <resource-file src="src/ios/MQMessageForm"/> -->

    <framework src="src/ios/MeiQiaSDK.framework" custom="true"/>
    <framework src="libicucore.dylib" />

  </platform>

</plugin>

<!-- <config-file target="*-Info.plist" parent="NSAppTransportSecurity">>
  <dict>
    <key>NSExceptionDomains</key>
    <dict>
      <key>s3.cn-north-1.amazonaws.com.cn</key>
      <dict>
        <key>NSExceptionRequiresForwardSecrecy</key>
        <false/>
      </dict>
    </dict>
  </dict>
</config-file> -->
